<div class="item">
	<table>
		<colgroup>
			<col class="grid-3">
			<col class="grid-1">
			<col class="grid-2">
			<col class="grid-1">
			<col class="grid-2">
			<col class="grid-2">
			<col class="grid-1">
		</colgroup>
		<thead>
			<tr>
				<th colspan=7>
					<span>订单号 : <span>${id}</span></span>
					<span>${$item.timeFormat(pay_time)}</span>
					<span class="mama-red">${seller_shop_name}</span>
				</th>
			</tr>
		</thead>
		<tbody>
			{{each(i,el) buyerOrderItems}}
			<tr>
				<td>
					<div class="float-l">
						<img src="/static/images/photo1.jpg" width="80px" height="80px">
					</div>
					<div class="item_info">
						<div class="item_name">${el.item_name}</div>
						{{each(i,el) el.sku_props_str.split(";")}}
							<div class="skus">${el}</div>
						{{/each}}
					</div>
				</td>
				<td>${el.quantity}</td>
				<td>${el.price / 100}</td>
				<td class="border-r">
					{{if i == 0}}
						<span class="mama-red">售后</span>
					{{/if}}
				</td>
				<td class="border-no">
					{{if i == 0}}
						<div>￥${total_fee}</div>
						<div class="mama-red">(含运费${postage / 100}元)</div>
					{{/if}}
				</td>
				<td class="border-no">
					{{if i == 0}}
						<div>交易关闭</div>
						<div class="mama-red">查看详情</div>
					{{/if}}
				</td>
				<td class="border-no">
					{{if i == 0}}
						<div class="mama-red">取消订单</div>
					{{/if}}
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
