@at-root {
	// Import the fonts
	@font-face {
		font-family: "iconfont";
		src: url('../fonts/iconfont.eot');
		/* IE9*/
		src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iconfont.ttf') format('truetype'),
		url('../fonts/iconfont.svg?#iconfont') format('svg');
	}
}

// Catchall baseclass
.mama-icon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'iconfont';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Individual icons
.icon-car-x {
	&:before {
		content: "\e882";
	}
}

.icon-car {
	&:before {
		content: "\e883";
	}
}

.icon-package {
	&:before {
		content: "\e884";
	}
}

.icon-package-x {
	&:before {
		content: "\e885";
	}
}

.icon-package-open {
	&:before {
		content: "\e886";
	}
}

.icon-package-open-x {
	&:before {
		content: "\e887";
	}
}

.icon-cart-x {
	&:before {
		content: "\e888";
	}
}

.icon-cart {
	&:before {
		content: "\e889";
	}
}

.icon-goods {
	&:before {
		content: "\e88a";
	}
}

.icon-goods-x {
	&:before {
		content: "\e88b";
	}
}

.icon-int {
	&:before {
		content: "\e897";
	}
}

.icon-int-x {
	&:before {
		content: "\e898";
	}
}

.icon-discount-x {
	&:before {
		content: "\e899";
	}
}

.icon-discount {
	&:before {
		content: "\e89a";
	}
}

.icon-service-x {
	&:before {
		content: "\e8ab";
	}
}

.icon-service {
	&:before {
		content: "\e8ac";
	}
}

.icon-dollor {
	&:before {
		content: "\e8ae";
	}
}

.icon-dollor-x {
	&:before {
		content: "\e8af";
	}
}

.icon-refund {
	&:before {
		content: "\e8b2";
	}
}

.icon-checkbox {
	&:before {
		content: "\e8b5";
	}
}

.icon-checkbox-check {
	&:before {
		content: "\e8b6";
	}
}

.icon-radio {
	&:before {
		content: "\e8b7";
	}
}

.icon-radio-check {
	&:before {
		content: "\e8b8";
	}
}

.icon-check {
	&:before {
		content: "\e8b9";
	}
}

.icon-search {
	&:before {
		content: "\e8ba";
	}
}

.icon-index {
	&:before {
		content: "\e8bb";
	}
}

.icon-index-x {
	&:before {
		content: "\e8bc";
	}
}

.icon-collect {
	&:before {
		content: "\e8c2";
	}
}

.icon-collect-x {
	&:before {
		content: "\e8c4";
	}
}

.icon-heart-x {
	&:before {
		content: "\e8c3";
	}
}

.icon-heart {
	&:before {
		content: "\e8c5";
	}
}

.icon-more-h {
	&:before {
		content: "\e8c6";
	}
}

.icon-more-s {
	&:before {
		content: "\e8c7";
	}
}

.icon-camera {
	&:before {
		content: "\e8d1";
	}
}

.icon-camera-x {
	&:before {
		content: "\e8d2";
	}
}

.icon-image-x {
	&:before {
		content: "\e8d3";
	}
}

.icon-image {
	&:before {
		content: "\e8d4";
	}
}

.icon-scan {
	&:before {
		content: "\e8d5";
	}
}

.icon-eye {
	&:before {
		content: "\e8d6";
	}
}

.icon-lock {
	&:before {
		content: "\e8d7";
	}
}

.icon-thumbs-c {
	&:before {
		content: "\e8d8";
	}
}

.icon-thumbs-down-c {
	&:before {
		content: "\e8d9";
	}
}

.icon-thumbs-down {
	&:before {
		content: "\e8da";
	}
}

.icon-thumbs {
	&:before {
		content: "\e8db";
	}
}

.icon-meh {
	&:before {
		content: "\e8dc";
	}
}

.icon-smile {
	&:before {
		content: "\e8dd";
	}
}

.icon-anger {
	&:before {
		content: "\e8de";
	}
}

.icon-plus-square {
	&:before {
		content: "\e8df";
	}
}

.icon-plus-square-x {
	&:before {
		content: "\e8e0";
	}
}

.icon-plus-circle-x {
	&:before {
		content: "\e8e1";
	}
}

.icon-plus-circle {
	&:before {
		content: "\e8e2";
	}
}

.icon-plus {
	&:before {
		content: "\e8e4";
	}
}

.icon-minus-square {
	&:before {
		content: "\e8e3";
	}
}

.icon-minus-circle {
	&:before {
		content: "\e8e5";
	}
}

.icon-minus {
	&:before {
		content: "\e8e6";
	}
}

.icon-prev-circle-x {
	&:before {
		content: "\e8ef";
	}
}

.icon-prev-circle {
	&:before {
		content: "\e8f0";
	}
}

.icon-next-circle-x {
	&:before {
		content: "\e8f1";
	}
}

.icon-next-circle {
	&:before {
		content: "\e8f2";
	}
}

.icon-bot-circle-x {
	&:before {
		content: "\e8f5";
	}
}

.icon-bot-circle {
	&:before {
		content: "\e8f6";
	}
}

.icon-top-circle {
	&:before {
		content: "\e8f8";
	}
}

.icon-top-circle-x {
	&:before {
		content: "\e8f9";
	}
}

.icon-left-angle {
	&:before {
		content: "\e8f3";
	}
}

.icon-right-angle {
	&:before {
		content: "\e8f4";
	}
}

.icon-bot-angle {
	&:before {
		content: "\e8f7";
	}
}

.icon-top-angle {
	&:before {
		content: "\e8fd";
	}
}


.icon-left-arrow {
	&:before {
		content: "\e8fa";
	}
}

.icon-right-arrow {
	&:before {
		content: "\e8fb";
	}
}

.icon-top-arrow {
	&:before {
		content: "\e8fc";
	}
}

.icon-bot-arrow {
	&:before {
		content: "\e8fe";
	}
}

.icon-first-page {
	&:before {
		content: "\e8ff";
	}
}

.icon-last-page {
	&:before {
		content: "\e900";
	}
}

.icon-top-caret {
	&:before {
		content: "\e901";
	}
}

.icon-sort-caret {
	&:before {
		content: "\e902";
	}
}

.icon-bot-caret {
	&:before {
		content: "\e903";
	}
}

.icon-back-top {
	&:before {
		content: "\e904";
	}
}

.icon-map-marker-x {
	&:before {
		content: "\e905";
	}
}

.icon-map-marker {
	&:before {
		content: "\e906";
	}
}

.icon-store {
	&:before {
		content: "\e90e";
	}
}

.icon-store-x {
	&:before {
		content: "\e90f";
	}
}

.icon-calendar {
	&:before {
		content: "\e915";
	}
}

.icon-diamond {
	&:before {
		content: "\e91f";
	}
}

.icon-diamond-x {
	&:before {
		content: "\e920";
	}
}

.icon-credit-card {
	&:before {
		content: "\e936";
	}
}

.icon-credit-card-x {
	&:before {
		content: "\e937";
	}
}

//另外一种风格icon
.icon-baby-car {
	&:before {
		content: "\e600";
	}
}

.icon-gold:before {
	content: "\e601";
}

.icon-gold-out:before {
	content: "\e602";
}

.icon-gold-in:before {
	content: "\e603";
}

.icon-train:before {
	content: "\e604";
}

.icon-baby:before {
	content: "\e605";
}

.icon-baby-creep:before {
	content: "\e606";
}

.icon-hobbyhorse:before {
	content: "\e607";
}

.icon-new-baby:before {
	content: "\e608";
}

.icon-hamburger:before {
	content: "\e644";
}

.icon-scenic-spot:before {
	content: "\e645";
}

.icon-stay:before {
	content: "\e646";
}

.icon-dining-room:before {
	content: "\e64f";
}

.icon-airplane:before {
	content: "\e655";
}

.icon-train:before {
	content: "\e65a";
}

.icon-guidepost:before {
	content: "\e661";
}

.icon-flag:before {
	content: "\e663";
}

.icon-camera:before {
	content: "\e672";
}

.icon-book:before {
	content: "\e675";
}

.icon-shopping:before {
	content: "\e680";
}

.icon-beach:before {
	content: "\e686";
}

.icon-parent-child:before {
	content: "\e68c";
}

.icon-leisure:before {
	content: "\e698";
}

.icon-recreation:before {
	content: "\e699";
}

.icon-bicycle:before {
	content: "\e69d";
}

.icon-swimming:before {
	content: "\e6ac";
}

.icon-footprint:before {
	content: "\e716";
}
