.orders > .order-list > .item {
	margin-bottom: 20px;
	border: 1px solid $border-color;

	&:nth-of-type(odd) {
		background-color: $table-odd-bg;
	}
	
		&:nth-of-type(even) {
		background-color: $table-even-bg;
	}

	em {
		color: $active-red;
		font-style: normal;
	}
}

.orders > .order-list table,
.orders > .order-head table {

	width: 100%;
	max-width: 100%;

	@for $i from 1 through 12 {
		col.grid-#{$i} {
			width: 100% * ($i / 12);
		}
	}

	tr {
		> th,
		> td {
			padding: 8px;
			line-height: $line-height-base;
			vertical-align: middle;
		}
	}

}

.orders > .order-list table th {
	border: 0;
	border-bottom: 1px solid $border-color;
	text-align: left;
	font-weight: normal;
}

.orders > .order-list table td {
	@include borders;
	border-width: 1px 0 0 0;
	text-align: center;
}

.orders > .order-head table {
	th,
	td {
		border: 0;
		text-align: center;
	}
}
